<div [formGroup]="parent">
    <div [formGroupName]="groupName">
        <label class="question-label">{{questionLabel}}</label>
          <mat-selection-list formControlName="selectedAnswers" [multiple]="isMultiple">
            <mat-list-option *ngFor="let answer of displayedAnswers" [value]="answer.id" checkboxPosition="before">
              {{ answer.label }}
            </mat-list-option>
          </mat-selection-list>

        <mat-error *ngIf="selectedAnswersFormControl.invalid && selectedAnswersFormControl.dirty">
          champ requis
        </mat-error>


    </div> 
  </div>
  
  