<form [formGroup]="form">
  <mat-horizontal-stepper #stepper labelPosition="bottom">
    <mat-step *ngFor="let step of steps;" [ngSwitch]="step.questionType">
      <ng-template matStepLabel>{{step.label}}</ng-template>
      <div *ngSwitchCase="'Choice'">
        <app-driver-survey-wizard-choice 
        [questionLabel]="step.label" 
        [isMultiple]="step.questionIsMultiple"
        [groupName]="step.questionId" 
        [parent]="form"></app-driver-survey-wizard-choice>
      </div>
      <div *ngSwitchCase="'NestedChoice'">
        <app-driver-survey-wizard-nested-choice [groupName]="step.questionId" [questionLabel]=" step.label" [parent]="form"></app-driver-survey-wizard-nested-choice>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" class="buttons-container">
        <button mat-flat-button (click)="stepper.previous()" type="button">Previous</button>
        <button mat-flat-button color="primary" (click)="stepper.next()" type="button">Next</button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmation</ng-template>
      <app-driver-survey-wizard-summary [parent]="form" [steps]="steps" [questionsPriority]="questionsPriority"></app-driver-survey-wizard-summary>
      <div fxLayout="row" fxLayoutAlign="end" class="buttons-container">
        <button mat-button (click)="stepper.previous()" type="button">Previous</button>
        <button mat-flat-button color="primary" (click)="submitSurvey();">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</form>