<div fxLayout.xs="column" fxLayout.gt-xs="row">
    <div fxFlex.xs="100" fxFlex.gt-xs="50" >
      <label class="label">Summary of choices</label>
      <ul>
        <li *ngFor="let choice of surveyChoices">
          {{choice.label}}
          <button mat-icon-button (click)="editChoice(choice.index)" type="button">
            <mat-icon style="font-size: 18px;">edit</mat-icon>
          </button>
          <ul>
            <li *ngFor="let answer of choice.answers">
              {{answer.label}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div fxFlex.xs="100" fxFlex.gt-xs="50">
      <app-driver-survey-wizard-question-priority [steps]="steps"></app-driver-survey-wizard-question-priority>
    </div>
    <!-- <div fxFlex.xs="100" fxFlex.gt-xs="50">

    </div> -->
  </div>
