.text-container {
    margin-top:1rem;
    p{
        margin:0;
        font-weight: bold;
    }
}

table{
    width:100%;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.drop-col{
    width: 60px;
}

.apptime-col{
    width: 140px;
}