<div [formGroup]="parent">
    <div [formGroupName]="groupName">
        <label class="question-label">{{questionLabel}}</label>
        <mat-selection-list formControlName="selectedAnswers" (selectionChange)="updateAllChecked($event);">
            <ng-container *ngFor="let group of displayedAnswers">
                <mat-list-item>
                    <mat-checkbox [checked]="group.allChecked" (change)="groupCheckboxChange(group.idGroup, $event.checked)" [indeterminate]="group.indeterminate">
                        {{group.label}}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list class="margin-left">
                    <div *ngFor="let nestedAnswer of group.answers">
                        <mat-list-option [value]="nestedAnswer.id" checkboxPosition="before" [selected]="nestedAnswer.checked">{{ nestedAnswer.label }}</mat-list-option>
                    </div>
                </mat-list>
            </ng-container>
        </mat-selection-list>

        <mat-error *ngIf="selectedAnswersFormControl.invalid && selectedAnswersFormControl.dirty">
            champ requis
          </mat-error>   
    
    </div>
</div>