<div formGroup="parent">
    <div formGroupName="groupName">
        <label class="question-label">{{questionLabel}}</label>
        <ul class="nested-answers">
            <li *ngFor="let group of displayedAnswers">
                <mat-checkbox (change)="checkAll(group.idGroup, $event.checked)" [checked]="group.allChecked"
                    [indeterminate]="someChecked(group.idGroup)">
                    {{group.label}}
                </mat-checkbox>
                <ul class="nested-answers margin-left">
                    <li *ngFor="let nestedAnswer of group.answers" class="checkbox-item">
                        <mat-checkbox (change)="updateAllChecked(group.idGroup, nestedAnswer.id, $event.checked)"
                            [checked]="nestedAnswer.checked">
                            {{nestedAnswer.label}}
                        </mat-checkbox>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>