.selection-list-title-container{
    border:1px solid #ccc;
    border-bottom: none;
    text-align: center;
    padding:0.5rem;
    background-color:#ccc;

  }
  
  .selection-list{
    padding-top:0;
    border:1px solid #ccc;
  }
  