<div fxLayout="row">
    <div fxFlex="90%">
      <section class="selection-list-title-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <label class="label">Priority</label>
          <mat-icon matSuffix
                    matTooltip="priority"
                    matTooltipPosition="above">
            help
          </mat-icon>
        </div>
      </section>
      <mat-selection-list #questionsMatList class="selection-list" [multiple]="false">
        <mat-list-option *ngFor="let question of questionPriority;" [value]="question" >
          {{question.label}}
          ({{question.priority}})
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div fxLayout="column">
      <button mat-icon-button (click)="reorder(questionsMatList.selectedOptions.selected[0]?.value, true)" type="button">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-icon-button (click)="reorder(questionsMatList.selectedOptions.selected[0]?.value, false)" type="button">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>